.list-group-item {
    font-size: xx-small;
}

.stone {
    max-width: inherit;
    max-width: inherit;
    overflow-wrap: break-word;
}

.edge {
    width: 100%;
    height: 100%;
}

.empty {
    overflow: hidden;
    padding: 0px;
}

.pool {
    background-color: lightgray;
    display: flex;
}

.dominoRows {
    background-color: grey;

}