.zelle {
    border-style: solid;
    border-color: black;
    min-height: 40px;
    min-height: 40px;

}

.zelle:after {
    display: block;
    padding-bottom: 100%;
}


.list-group-item {
    min-width: 50px;
    min-width: 50px;
    overflow: auto;
    font-size: xx-small;
}


.pool {
    background-color: lightgray;
    display: flex;
}

.dominoRows {
    background-color: grey;

}