.zelle {
    border-style: solid;
    border-color: black;
    min-height: 40px;
}

.zelle.stein {
    border-color: blue;
}

.stein {
    max-width: max-content;
}

.pool {
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 20%;
}

.dominoFeld {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    height: 80%;
    max-width: 100%;

}