.cellBase{
    width: 18px;
}
.cellInvisible{
    visibility: hidden;
}
.cellBig{
    width: 100px;
}
.cellQuestion{
    width: 250px;
}

input.inputMsp, textarea {
    background: lightslategray;
}
input.inputNormal, textarea {
    background: white;
}

input.uncorrected {
    color: black
}
input.right {
    color: darkgreen
}
input.wrong {
    color: darkred
}

